%section.contact-us

  %header
    %h1= t('navigation.contact')

  %div
    Fill in this form to contact Gina directly or to request access to the retailers section where you can view our price list.

  %br
  %br

  = render 'contact_form'

  %div.info
    %div.company
      Barcelos Imports

    %div.address
      Po Box 384,
      %br
      Applecross,
      %br
      WA 6953

    %div.phone
      Ph: 0425 890 866

    %div.fax
      Fax: (08) 9316 8985