%footer
  © 2012
  = link_to t('site_name'), new_admin_session_url
  = link_to image_tag('australia.png'), set_locale_url( :locale => 'en' ), method: :put
  = link_to image_tag('portugal.png'), set_locale_url( :locale => 'pt' ), method: :put